<div>
  <button
    type="button"
    class="btn btn-primary pull-left"
    title="Volver Panel"
    name="btnVolverGv"
    id="btnVolverGv"
    (click)="paneles('VER_PANELPROYECTOS')"
  >
    <i class="fa fa-reply fa-2x"> </i>
  </button>
</div>
<div class="pull-right">
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('DATOS_GENERALES')"
  >
    Datos Generales
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('CONTRATO')"
  >
    Contrato(s)
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('SUPERVISION')"
  >
    Supervision
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('AMPLIACIONPLAZO')"
  >
    Ampliacion de Plazo
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('GALERIA_IMAGENES')"
  >
    Galeria de Imagenes
  </button>
  <button class="btn btn-primary" type="button" (click)="paneles('CONTACTOS')">
    Contactos
  </button>
  <button class="btn btn-primary" type="button" (click)="paneles('PROGRAMACION')">
    Programación
  </button>
  <!-- <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('SEGUIMIENTO_EJECUCION')"
  >
    Seguimiento Ejecución
  </button> -->
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('FICHA_AMBIENTAL')"
    
  >
    Registro Ambiental
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('FICHA_TECNICA')"
    
  >
    Ficha Técnica
  </button>
  <button
    class="btn btn-primary"
    type="button"
    (click)="paneles('CIERRE_ADMINISTRATIVO')"
  >
    Cierre Adm.
  </button>
</div>
<div class="row"></div>
<div>
  <div
    *ngIf="pnl_datosgenerales == true"
    id="pnl_datosgenerales"
    name="pnl_datosgenerales"
  >
    <app-datos-generales
      [inputDts]="inputDts"
      [opcion]="'EDI'"
    ></app-datos-generales>
  </div>
</div>
<div>
  <div>
    <div *ngIf="pnl_supervision == true" id="supervision" name="supervision">
      <app-supervision [inputDts]="inputDts"></app-supervision>
    </div>
  </div>
  <div>
    <div *ngIf="pnl_contrato == true" id="contrato" name="contrato">
      <app-contratos [inputDts]="inputDts"></app-contratos>
    </div>
  </div>
  <div>
    <div
      *ngIf="pnl_ampliacionplazo == true"
      id="ampliacionplazo"
      name="ampliacionplazo"
    >
      <app-apliacion-plazo [inputDts]="inputDts"></app-apliacion-plazo>
    </div>
  </div>
  <div>
    <div *ngIf="pnl_contactos == true" id="contactos" name="contactos">
      <app-contactos [inputDts]="inputDts"></app-contactos>
    </div>
  </div>
  <div>
    <div *ngIf="pnl_programacion == true" id="programacion" name="programacion" style="margin-top: 2rem;">
      <app-programacion [inputDts]="inputDts" [unidad]="'TECNICA'"></app-programacion>
    </div>
  </div>
  <div>
    <div
      *ngIf="pnl_seguimiento_ejecucion == true"
      id="seguimiento"
      name="seguimiento"
    >
      <app-seguimiento-ejecucion
        [inputDts]="inputDts"
      ></app-seguimiento-ejecucion>
    </div>
  </div>
  <div>
    <div
      *ngIf="pnl_ficha_tecnica == true"
      id="ficha_tecnica"
      name="ficha_tecnica"
    >
      <app-ficha-tecnica [inputDts]="inputDts"></app-ficha-tecnica>
    </div>
  </div>
  <div>
    <div *ngIf="pnl_ambiental" id="ambiental" name="ambiental">
      <app-ambiental [idProyecto]="inputDts['_id_proyecto']" [nombreProyecto]="inputDts['_nombreproyecto']"  [idSGP]="inputDts['_id_sgp']"></app-ambiental>
    </div>
  </div>
  <div>
    <div
      *ngIf="pnl_cierre_administrativo == true"
      id="cierre_administrativo"
      name="cierre_administrativo"
    >
      <app-cierre-administrativo-tecnica
        [inputDts]="inputDts"
      ></app-cierre-administrativo-tecnica>
    </div>
  </div>
  <div
    *ngIf="pnl_galeriaimagenes == true"
    id="pnl_galeriaimagenes"
    name="pnl_galeriaimagenes"
  >
    <hr width="100%" size="5" color="#FF0000" />
    <div class="pull-right">
      <button class="btn btn-primary" type="button" *ngIf="habilitaAdicion && camposHabilitados._tecnica==false "
      [disabled]="camposHabilitados._tecnica"
      >
        <i
          class="fa fa-plus-square"
          aria-hidden="true"
          (click)="subirArchivoModal()"
          title="Nueva Imagen"
          
        ></i>
      </button>
    </div>
    <div class="row"></div>

    <div class="content-body">
      <div class="row" >
        <div>
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              GALERIA DE IMAGENES
            </div>
            <div class="panel-body">              
              <div
                *ngFor="
                  let row_registro of dts_listaimagenes 
                "
                [ngClass]="{'opacidad-10':row_registro.img_aplicacion==1,'opacidad-5':row_registro.img_aplicacion!=1}"
                class="col-lg-3"
              >
                <app-upload-file
                  *ngIf="camposHabilitados._tecnica==false"
                  inputId={{row_registro.id}}
                  inputTipoDocumento="galeria_imagenes"
                  inputCodigoProy="{{ row_registro.id_sgp }}"
                  inputVista="false"
                  inputTipoImagen="imagen"
                  inputSrc="{{ row_registro.archivo }}"
                  inputNombre="{{ row_registro.archivo }}"
                  inputAccion="VISUALIZAR_ELIMINAR_SELECCIONAR"
                  inputMarcado={{row_registro.img_aplicacion}}
                  (enviaPadre)="refrescaGaleriaImagenes($event)"                  
                >
                </app-upload-file>
                <app-upload-file
                  *ngIf="camposHabilitados._tecnica!=false"
                  inputId={{row_registro.id}}
                  inputTipoDocumento="galeria_imagenes"
                  inputCodigoProy="{{ row_registro.id_sgp }}"
                  inputVista="false"
                  inputTipoImagen="imagen"
                  inputSrc="{{ row_registro.archivo }}"
                  inputNombre="{{ row_registro.archivo }}"
                  inputAccion="VISUALIZAR"
                  inputMarcado={{row_registro.img_aplicacion}}
                  (enviaPadre)="refrescaGaleriaImagenes($event)"                  
                >
                </app-upload-file>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div *ngIf="pnl_subirArchivoModal == true">
      <div
        class="modal fade"
        id="modalUploadArchivo"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Subir Archivo
              </h5>
              <button
                type="button"
                class="close"
                aria-label="Cerrar"
                (click)="cerrarArchivoModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-lg-12">
                <app-upload-file
                  inputTipoDocumento="galeria_imagenes"
                  inputCodigoProy="{{ id_sgp }}"
                  inputVista="false"
                  inputTipoImagen="imagen"
                  inputSrc=""
                  inputNombre="Nuevo Archivo"
                  inputAccion="SUBIR_ARCHIVO"
                  (enviaPadre)="refrescaGaleriaImagenes($event)"
                >
                </app-upload-file>
               
              </div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
