<section class="pheader">
<div class="rowlocal ">     <!-- Primera fila -->
  			<div class="col-sm-3 ">      <!-- Primer bloque de 4 columnas -->
          <div class="float-left"><img src="./assets/imagenes/logo.gif" name='logo' id='logo' class="img-fluid" width="100" height="100" /></div>
  			</div>
          <div class="col-sm-9 ">      <!-- Segundo bloque de 4 columnas -->
            <div >
  <div >
                  <h4>Sistema Integral</h4>
              
              
            </div>
            </div>
            <hr/>
          </div>
  			  		
  		</div>
</section>