
    	.fondogris
    	{
    		background-color: grey;
    		color: white;
    	}
 
    	.fondorojo
    	{
    		background-color: red;
    		color: white;
    	}
 
    	.fondoazul
    	{
    		background-color: blue;
    		color: white;
    	}
    