.dt-tipoCite tfoot input {
    width: 100% !important;
}

.dt-tipoCite tfoot {
    display: table-header-group !important;
}

.loading {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 8;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 13px solid #ffffff;
    border-top: 13px solid #5797c2;
    border-bottom: 13px solid #1d4864;
    border-radius: 60%;
    width: 4em;
    height: 4em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}      

/* .loading {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

.loading .spin{
    border: 14px solid #d4d4d4;
    border-top: 14px solid #5797c2;
    border-bottom: 14px solid #1d4864;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    position: fixed;
    left : 50%;
    bottom : 0;
    right : 0;
    top : 50%;
  }   
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  } */
