<nav class="navbar navbar-default navbar-static-top bg-cbes">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:0" routerLink='/home/{{s_idcon}}'>
        <i class="fa fa-home"></i> SIIGAH
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
              class="fa  fa-hospital-o"></i> Historia Clinica
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let row_registros of menu_hc2; let i = index">
              <a href="javascript:0" routerLink='{{row_registros.RUTA}}' [queryParams]="{ com: url_comprobante,mat:dts_datosasegurado }">{{row_registros.DESCRIPCION}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
              class="fa fa-file-text-o"></i> Formularios Administrativos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu" *ngFor="let row_registros of menu_formadm2; let i = index" (click)="abrirMenu($event)">
              <a tabindex="-1" href="javascript:0">{{row_registros.DESCRIPCION}}</a>
              <ul class="dropdown-menu">
                <li *ngFor="let row_registros3 of menu_formadm3;" (click)="cerrarMenuPadre($event)">
                  <a *ngIf="row_registros.IDMENU==row_registros3.IDMENUSUPERIOR" tabindex="-1" routerLink='{{row_registros3.RUTA}}' [queryParams]="{ com: url_comprobante,mat:dts_datosasegurado }">{{row_registros3.DESCRIPCION}}</a>
                </li>
              </ul>
            </li>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i
              class="fa fa-folder-open"></i> Formularios
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:0">Op3-1</a>
            </li>
            <li>
              <a href="javascript:0">Op3-2</a>
            </li>
            <li>
              <a href="javascript:0">Op3-3</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:0">Op3-last</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Usuario:
              </strong> {{s_nom}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <button type="button" routerLink='/' class="btn btn-danger btn-sm btn-block">
                <i class="fa fa-ban"></i> Cerrar Sesion.
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="">
  <!-- <app-header-main></app-header-main> -->
  <!-- <app-busquedabeneficiario [inputMatricula]="inputMatricula" (outputdtsdatosasegurado)="cargarDtsdatosasegurdo($event)"></app-busquedabeneficiario> -->
  <!-- <app-bandejahistorial></app-bandejahistorial> -->
</div>
<!-- <app-bandejahistorial></app-bandejahistorial> -->
<router-outlet></router-outlet>