<!--<link href="reporte.component.css" rel="stylesheet" type="text/css">-->
<a href="javascript:pdfToHTMLCarta()">Descargar</a>
<div id="pdf2htmlcartadiv">
  <header> 
  
    	INFORME DIARIO DE CONSULTA DE ODONTOLOGIA
  
  </header>
  <div>
    <img src="./assets/imagenes/reportes/consultaodontologia.png" alt="Placeholder image" width="920" >
    <div style="position: absolute; left: 76px; top: 382px; width: 67px; height: 26px;">kjf</div>
    <div style="position: absolute; left: 144px; top: 382px; width: 67px; height: 26px;">kjf</div>   

  </div>
  <footer>
    <div >Pagina <span class="pageCounter"></span>/<span class="totalPages"></span></div>    
  </footer>
</div>
