<h1>JSON to PDF app</h1>
<div class="container" id="div1">
  <button id="create" (click)="convert()">Create file</button>
</div>

<div>
  <a routerLink='/rptej1'>Otro reporte</a>
</div>
<div>
  <button id="create" (click)="rptej2()">Crear archivo PDF-ej2</button>
</div>
<div>
  <button id="create" (click)="rptej3()">Crear archivo PDF-ej3</button>
</div>
<div>
  <button id="create" (click)="rptej4()">Crear archivo PDF-Imagenes</button>
</div>
<div>
  <button id="create" (click)="rptej5()">Crear archivo PDF-Font fases</button>
</div>
<div>
  <button id="create" (click)="rptej6()">Crear archivo PDF-Dos Paginas</button>
</div>
<div>
  <button id="create" (click)="rptej7()">Crear archivo PDF-Circulos</button>
</div>
<div>
  <button id="create" (click)="rptej8()">Crear archivo PDF-TamañoLetras</button>
</div>
<div>
  <button id="create" (click)="rptej9()">Crear archivo PDF-Hoja Horizontal</button>
</div>
<div>
  <button id="create" (click)="rptej10()">Crear archivo PDF-Lineas</button>
</div>
<div>
  <button id="create" (click)="rptej11()">Crear archivo PDF-Rectangulos</button>
</div>
<div>
  <button id="create" (click)="rptej12()">Crear archivo PDF-Division de cadena</button>
</div>
<div>
  <button id="create" (click)="rptej13()">Crear archivo PDF-Texto color</button>
</div>
<div>
  <button id="create" (click)="rptej14()">Crear archivo PDF-Texto color</button>
</div>
<div>
  <button id="create" (click)="rptej15()">Crear archivo PDF-Header&Footer</button>
</div>
<div>
  <a routerLink='/rptej2'>Ejemplo Rpt2</a>
</div>
<div>
  <a routerLink='/rpt_listamedicos2'>Ejemplo de reporte con componente</a>
</div>
