<a href="javascript:exportarPDF()">Descargar</a>

<!--<table class="table table-bordered table-striped tb-info">
  <thead>
    <tr>
      <th class="col-xs-1">ID</th>
      <th class="col-xs-8">First name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(0%2C0%2C255%2C0.8).jpeg"></td>
      <td>xxxxxxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxx xxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
    </tr>

    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(255%2C192%2C203%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(0%2C128%2C0%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(255%2C165%2C0%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(255%2C0%2C255%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxx xxxxxxx xxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxx xxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(255%2C0%2C0%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxx xxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx x xxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(128%2C128%2C128%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxx xxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx x xxxxxxxxxxxxxx xxxxxxxxxxxxxxxx xxxxx xxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(0%2C255%2C255%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
    <tr>
      <td><img crossOrigin="anonymous" src="https://raw.githubusercontent.com/Shinseiki86/Eva360/master/public/assets/img/colors/rgba(0%2C191%2C255%2C0.8).jpeg"></td>
      <td>xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxx xxxx xxxxxxxxxxx xxxxxxxxxxxxx</td>
    </tr>
  </tbody>
</table>-->


<div class="contenedor-tabla">
    <div class="contenedor-fila">
        <div class="contenedor-columna">
Columna 1
         </div>

        <div class="contenedor-columna">
             Columna 2
        </div>

        <div class="contenedor-columna">
Columna 3
        </div>
    </div>
</div>

