<div id="pnl_gridviewinstitucion" name="pnl_gridviewinstitucion">
        <h2><P class="text-center">CREAR INSTITUCIONES</P></h2>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <button type="button" class="btn btn-success pull-right"
            (click)="paneles('NUEVA_INSTITUCION')">Nueva Institución
          </button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-hover dt-institucion">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Seleccione...</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let row_registros of dts_institucion; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{row_registros.Nombre}}</td>
                        <td>{{row_registros.Estado}}</td>
                        <td>
                           <div>
                                <button type="button" class="btn btn-warning" (click)="editarInstitucionPre(row_registros)">
                                <i class="fa fa-edit" aria-hidden="true" title="Modificar Registro"></i>
                                </button>
                                <button type="button" class="btn btn-success"(click)="envio_cargoPre(row_registros)">
                                  <i class="fa fa-check" aria-hidden="true" title="Introducir Cargo"></i>
                                </button>
                                <button type="button" class="btn btn-danger"(click)="envio_estado(row_registros)">
                                  <i class="fa fa-trash" aria-hidden="true" title="Cambiar Estado"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--------------////////////////////////----------PANEL DE FORMULARIO nueva institucion-----------////////////////////////////////////////////////-->
<div class="content content-success" name="pnl_formularioinstitucion" id="pnl_formularioinstitucion">
  <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div>
      <button type="button" class="btn btn-primary  pull-left"
      title="Volver Inicio" name="volver" id="volver" (click)="paneles('VER_GRIDVIEW')">
        <i class="fa fa-reply fa-2x"></i></button>
    </div>
    <div class="panel panel-success">
          <div class="panel-heading text-center">NUEVA INSTITUCION</div>
            <div class="panel-body">
            </div>
            <div class="form-horizontal ">
              
              <div class="form-group">
                <label class="control-label col-sm-3">NOMBRE DE LA INSTITUCION:</label>
                <div class="col-sm-7">
                <input class="form-control" type="text" name="m_nombreinstitucion" id="m_nombreinstitucion"
                [(ngModel)]="m_nombreinstitucion">
                </div>
              </div>
                  <div>
                    <button type="button" class="btn btn-success btn-block" value="INSERTAR"
                        name="btnInsertar" id="btnInsertar"
                        (click)="insertarInstitucion()"
                        title="Guardar Institucion">Guardar Institucion
                    </button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-success btn-block" value="MODIFICA"
                        name="btnActualizar" id="btnActualizar"
                        (click)="editarInstitucion()"
                        title="Modificar Institucion">Modificar Institucion
                    </button>
                  </div>
          </div>
      </div>
  </div>
</div>

  <!-- INTRODUCIENDO EL COMPONENTE CARGO-->
  <div *ngIf='pnlCargo==true'>
  <app-institucioncargo [inputIdInstitucion] ="inputIdInstitucion"></app-institucioncargo>
  </div>
  