.dt-donaciones tfoot input {
    width: 100% !important;
}

.dt-donaciones tfoot {
    display: table-header-group !important;
}

.dt-supervision tfoot input {
    width: 100% !important;
}

.dt-supervision tfoot {
    display: table-header-group !important;
}