.dt-proyectos tfoot input{
    width: 100% !important;
}
.dt-proyectos tfoot {
    display: table-header-group !important;
}
.dt-observaciones tfoot input{
    width: 100% !important;
}
.dt-observaciones tfoot {
    display: table-header-group !important;
}