<p>
  rpt-ejtabla works!
</p>
<input type="image" src="./assets/imagenes/iconos/pdf.gif" (click)="download()" />  
<canvas id="canvasid"></canvas>  
 

<div class="row" id="contenido">
    <div class="col-md-4">
    <h5 style="font-weight: bold;color: pink">Torta de Chocolate</h5>
    <p>
    La deliciosa Torta de Chocolate es uno de los postres mas ricos del mundo, estos están en los mejores comensales. 
    </p>
    <img src="./assets/imagenes/iconos/pdf.gif" class="img-responsive" />
    </div>
    </div>
    <button id="crearimagen"  (click)="downloadcontenido()">Crear Imagen</button>
    <label type="text" id="output">
    
    

