<div class="container-fluid">
    <form action="" name="form">
        <div class="row">
            <!-- BUSCADOR DE HOJA DE RUTAS -->
            <div class="content content-success" name="pnl_busqueda" id="pnl_busqueda">
                <div class="content-header with-border">
                    <h3 class="content-title text-green">
                        <strong>ROLES - LISTA DE ROLES</strong>
                    </h3>
                </div>
                <div class="content-body">
                    <div class="rowlocal ">
                        <div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 col-xs-10 col-sm-5 col-md-5 col-lg-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">B&uacute;squeda de Roles</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-horizontal ">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="busqueda">Nombre:</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="text" name="nombre" id="nombre" [(ngModel)]="m_nombre">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="busqueda">Descripci&oacute;n:</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="text" name="descripcion" id="descripcion" [(ngModel)]="m_descripcion">
                                                </div>
                                            </div>


                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-primary btn-block" id="BuscarRoles" name="BuscarRoles" (click)="BuscarRoles()">
                              <i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-default btn-block" id="LimpiarBusqueda" name="LimpiarBusqueda" (click)="LimpiarBusqueda()">
                              <i class="fa fa-eraser" aria-hidden="true"></i> Limpiar</button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-footer">

                </div>
            </div>
            <!-- FIN DE BUSCADOR DE HOJA DE RUTA -->


            <!-- LISTADO PROVEIDOS -->
            <div *ngIf="pnlListaProveidos==true" class="content content-success" name="pnl_hjproveidos" id="pnl_hjproveidos">
                <div class="content-header with-border">
                    <div class="pull-left">

                        <button class="btn btn-danger btn-circle-sm" type="button" data-toggle="modal" data-target="#modalNuevoRol" (click)="FormNuevoRol()">
              <strong>+</strong> Nuevo Rol</button>

                    </div>
                </div>
                <div class="content-body">
                    <div class="rowlocal ">
                        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">Listado de Roles</div>
                                <div class="panel-body">
                                    <!-- INICIO TABLA-->
                                    <div class="row">
                                        <table class="table table-primary table-striped table-condensed table-hover dt-Proveidos">
                                            <thead>
                                                <tr>
                                                    <th>Id Rol</th>
                                                    <th>Nombre</th>
                                                    <th>Descripci&oacute;n</th>
                                                    <th>Idmodulo</th>
                                                    <th>Ruta help</th>

                                                    <th>Estado</th>
                                                    <th>Editar</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row_registros of dts_ListaRoles; let i = index ">
                                                    <td>{{row_registros.idrol}}</td>
                                                    <td>{{row_registros.nombre}}</td>
                                                    <td>{{row_registros.descripcion}}</td>
                                                    <td>{{row_registros.nom_modulo}}</td>
                                                    <td>{{row_registros.ruta_help}}</td>
                                                    <td>{{row_registros.id_estado}}</td>
                                                    <td>
                                                        <button class="btn btn-info btn-circle-sm" type="button" data-toggle="modal" data-target="#modalEditarProveido" (click)="MuestraRol(row_registros)">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                                                    </td>

                                                    <td>
                                                        <button class="btn btn-danger btn-circle-sm" type="button" data-toggle="modal" data-target="#modalEliminaRegistro" (click)="EliminarRegistro(row_registros)">
                                <span class="glyphicon glyphicon-remove"></span>
                              </button>
                                                    </td>



                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- FIN TABLA-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN FIN LISTADO PROVEIDO -->


            <!-- INICIO MODAL modalEditarProveido -->

            <!-- FIN MODAL modalEditarProveido -->
            <!-- INICIO MODAL modalEliminaProveido -->
            <div class="modal fade" *ngIf="pnlModalEliminaRegistro==true" name="modalEliminaRegistro" id="modalEliminaRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">:::ATENCIÓN:::</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                        <div class="alert alert-danger">
                            <p>Está apunto de eliminar el registro.</p>
                            <p>¿Se encuentra seguro?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" (click)="EliminaRegistroActual(dtsRegitroProveido.idrol)">Aceptar
            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN MODAL modalEliminaProveido -->


            <!-- INICIO MODAL modalEditarProveido -->
            <div class="modal fade" *ngIf="pnlModalEditarProveido==true" name="modalEditarProveido" id="modalEditarProveido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">:::EDITAR ROL:::</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-horizontal ">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Nombre:</label>
                                        <div class="col-sm-7">
                                            <input class="input_normal" type="text" name="e_nombre" id="e_nombre" list="browsers" [(ngModel)]="e_nombre" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Descripci&oacute;n:</label>
                                        <div class="col-sm-7">
                                            <input class="input_normal" type="text" name="e_descripcion" id="e_descripcion" list="browsers" [(ngModel)]="e_descripcion" autocomplete="off">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="rol">Id Modulo:</label>
                                        <div class="col-sm-7">
                                            <select id="rol" class="input_normal" name="rol" [(ngModel)]="e_idmodulo">
                          <option *ngFor="let row_modulos of dts_ListaModulos; let i = index " [ngValue]="row_modulos.idmodulo">{{row_modulos.nombre}}</option>
                        </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Estado:</label>
                                        <div class="col-sm-7">
                                            <select id="e_estado" class="form-control" name="e_estado" [(ngModel)]="e_estado">
                        <option value='1'>ACTIVO</option>
                        <option value='2'>INACTIVO</option>
                      </select>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" name="btnEditarProveido" id="btnEditarProveido" (click)="ActualizaRol()">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN MODAL modalEditarProveido -->


            <!-- INICIO MODAL Nuevo usuario -->
            <div class="modal fade" *ngIf="pnlModalNuevoRol==true" name="modalNuevoRol" id="modalNuevoRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">:::NUEVO ROL:::</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-horizontal ">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Nombre:</label>
                                        <div class="col-sm-7">
                                            <input class="input_normal" type="text" name="e_nombre" id="e_nombre" list="browsers" [(ngModel)]="e_nombre" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Descripci&oacute;n:</label>
                                        <div class="col-sm-7">
                                            <input class="input_normal" type="text" name="e_descripcion" id="e_descripcion" list="browsers" [(ngModel)]="e_descripcion" autocomplete="off">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="rol">Id Modulo:</label>
                                        <div class="col-sm-7">
                                            <select id="rol" class="input_normal" name="rol" [(ngModel)]="e_idmodulo">
                        <option *ngFor="let row_modulos of dts_ListaModulos; let i = index " [ngValue]="row_modulos.idmodulo">{{row_modulos.nombre}}</option>
                      </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="busqueda">Estado:</label>
                                        <div class="col-sm-7">
                                            <select id="e_estado" class="form-control" name="e_estado" [(ngModel)]="e_estado">
                        <option value=''></option>
                        <option value='1'>ACTIVO</option>
                        <option value='2'>INACTIVO</option>
                      </select>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" name="InsertaNuevoRol" id="InsertaNuevoRol" (click)="InsertaNuevoRol()">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN MODAL modal Nuevo Usuario -->




        </div>
    </form>
</div>