<div class="row">
  <div class="panel-heading clearfix">
    <div class="text-left col-md-6">
      <button
        type="button"
        class="btn btn-primary pull-left"
        title="Volver anterior"
        (click)="paneles()"
      >
        <i class="fa fa-reply fa-2x"> </i>
      </button>
    </div>
  </div>

  <div class="text-center" style="font-size: 9pt">
    <!-- <div class="panel-heading clearfix"> -->
    <div class="col-lg-offset-1 col-lg-10">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <b
            ><span
              class="glyphicon glyphicon-list-alt"
              style="font-size: 12pt"
            ></span>
            PROYECTO: {{ nombreProyecto }} - ({{ contenedorAgrupador }})</b
          >
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >PROYECTO:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="proyectoDatos.fisico"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'PROYECTO',
                          'PROYECTO EN FISICO',
                          proyectoDatos.fisico
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Físico
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="proyectoDatos.digital"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'PROYECTO',
                          'PROYECTO DIGITAL',
                          proyectoDatos.digital
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Digital
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="proyectoDatos.viabilidad"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'PROYECTO',
                          'VIABILIDAD',
                          proyectoDatos.viabilidad
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Viabilidad
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="proyectoDatos.contratacion"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'PROYECTO',
                          'PROCESO DE CONTRATACION',
                          proyectoDatos.contratacion
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Proc. Contratación (CIF)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >ESTUDIO SOCIO ECONÓMICO:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="radio-inline">
                    <input
                      type="radio"
                      name="optradio"
                      [(ngModel)]="estudio"
                      [value]="1"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'ESTUDIO SOCIO ECONOMICO',
                          'SI',
                          estudio
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />SI
                  </label>
                  <label class="radio-inline">
                    <input
                      type="radio"
                      name="optradio"
                      [(ngModel)]="estudio"
                      [value]="2"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'ESTUDIO SOCIO ECONOMICO',
                          'NO',
                          estudio
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />NO
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >LICENCIA AMBIENTAL:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="licenciaAmbiental.original"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'LICENCIA AMBIENTAL',
                          'ORIGINAL',
                          licenciaAmbiental.original
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Original
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="licenciaAmbiental.legalizada"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'LICENCIA AMBIENTAL',
                          'COPIA LEGALIZADA',
                          licenciaAmbiental.legalizada
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Copia Legalizada
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="licenciaAmbiental.simple"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'LICENCIA AMBIENTAL',
                          'COPIA SIMPLE',
                          licenciaAmbiental.simple
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Copia Simple
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-3 text-right" for="busqueda"
                  >EJECUCION:</label
                >
                <div class="col-sm-8 text-left well well-sm">
                  <div class="grid-lista">
                    <label
                      *ngFor="
                        let elemento of arrayPlanillas;
                        let i = index;
                        trackBy: indexTracker
                      "
                      class="checkbox-inline"
                      style="margin: 0;"
                    >
                      <input
                        type="checkbox"
                        class="text-left"
                        id="pla{{ i }}"
                        name="pla{{ i }}"
                        [(ngModel)]="arrayPlanillas[i]"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'EJECUCION',
                            'PLANILLA',
                            arrayPlanillas[i],
                            i + 1
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Planilla {{ i + 1 }}
                    </label>
                  </div>
                  <div>
                    <label class="checkbox-inline">
                      <input
                        type="checkbox"
                        class="text-left"
                        [(ngModel)]="ejecucionCierre.cierre"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'EJECUCION',
                            'PLANILLA DE CIERRE',
                            ejecucionCierre.cierre
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Planilla de Cierre
                    </label>
                    <label class="checkbox-inline">
                      <input
                        type="checkbox"
                        class="text-left"
                        [(ngModel)]="ejecucionCierre.garantia"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'EJECUCION',
                            'LIBERACION DE GARANTIA',
                            ejecucionCierre.garantia
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Liberación de Garantía
                    </label>
                    <label class="checkbox-inline">
                      <input
                        type="checkbox"
                        class="text-left"
                        [(ngModel)]="ejecucionCierre.conciliacion"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'EJECUCION',
                            'PLANILLA DE CONCILIACION',
                            ejecucionCierre.conciliacion
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Planilla de Conciliación
                    </label>
                    <label class="checkbox-inline">
                      <input
                        type="checkbox"
                        class="text-left"
                        [(ngModel)]="ejecucionCierre.resolucion"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'EJECUCION',
                            'RESOLUCION DE CONTRATO',
                            ejecucionCierre.resolucion
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Doc. Resolución de Contrato
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-3 text-right" for="busqueda"
                  >SUPERVISION:</label
                >
                <div class="col-sm-8 text-left well well-sm">
                  <div class="grid-lista">
                    <label
                      *ngFor="
                        let elemento of arrayPlanillasSup;
                        let i = index;
                        trackBy: indexTracker
                      "
                      class="checkbox-inline"
                      style="margin: 0;"
                    >
                      <input
                        type="checkbox"
                        class="text-left"
                        id="pla{{ i }}"
                        name="pla{{ i }}"
                        [(ngModel)]="arrayPlanillasSup[i]"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'SUPERVISION',
                            'PLANILLA',
                            arrayPlanillasSup[i],
                            i + 1
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Planilla {{ i + 1 }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="control-label col-sm-3 text-right" for="busqueda"
                  >FISCALIZACION:</label
                >
                <div class="col-sm-8 text-left well well-sm">
                  <div class="grid-lista">
                    <label
                      *ngFor="
                        let elemento of arrayPlanillasFis;
                        let i = index;
                        trackBy: indexTracker
                      "
                      class="checkbox-inline"
                      style="margin: 0;"
                    >
                      <input
                        type="checkbox"
                        class="text-left"
                        id="pla{{ i }}"
                        name="pla{{ i }}"
                        [(ngModel)]="arrayPlanillasFis[i]"
                        (ngModelChange)="
                          actualizaDatosDetalle(
                            'FISCALIZACION',
                            'PLANILLA',
                            arrayPlanillasFis[i],
                            i + 1
                          )
                        "
                        [disabled]="habilitaFormulario"
                      />
                      Planilla {{ i + 1 }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >MODIFICACIONES:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label
                    *ngFor="
                      let elemento of arrayContrato;
                      let i = index;
                      trackBy: indexTracker
                    "
                    class="checkbox-inline"
                  >
                    <input
                      type="checkbox"
                      class="text-left"
                      id="con{{ i }}"
                      name="con{{ i }}"
                      [(ngModel)]="arrayContrato[i]"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'MODIFICACION',
                          'CONTRATO MODIFICATORIO',
                          arrayContrato[i],
                          i + 1
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Contraro Modif {{ i + 1 }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >ORDEN DE CAMBIO:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label
                    *ngFor="
                      let elemento of arrayOrdenCambio;
                      let i = index;
                      trackBy: indexTracker
                    "
                    class="checkbox-inline"
                  >
                    <input
                      type="checkbox"
                      class="text-left"
                      id="cam{{ i }}"
                      name="cam{{ i }}"
                      [(ngModel)]="arrayOrdenCambio[i]"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'MODIFICACION',
                          'ORDEN DE CAMBIO',
                          arrayOrdenCambio[i],
                          i + 1
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Orden {{ i + 1 }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >ORDEN DE TRABAJO:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label
                    *ngFor="
                      let elemento of arrayOrdenTrabajo;
                      let i = index;
                      trackBy: indexTracker
                    "
                    class="checkbox-inline"
                  >
                    <input
                      type="checkbox"
                      class="text-left"
                      id="tra{{ i }}"
                      name="tra{{ i }}"
                      [(ngModel)]="arrayOrdenTrabajo[i]"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'MODIFICACION',
                          'ORDEN DE TRABAJO',
                          arrayOrdenTrabajo[i],
                          i + 1
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Orden {{ i + 1 }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >INFORMES:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="informeProyecto"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'INFORME DE PROYECTO',
                          informeProyecto
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Informes de Proyecto
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="informeProyectoSup"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'INFORME DE SUPERVISION',
                          informeProyectoSup
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Informe de Supervisión
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="informeProyectoFis"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'INFORME DE FISCALIZACION',
                          informeProyectoFis
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Informe de Fiscalización
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >CIERRE (CIFE):</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCife.tecnico"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'CIERRE TECNICO',
                          cierreCife.tecnico
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Cierre Técnico
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCife.financiero"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'CIERRE FINANCIERO',
                          cierreCife.financiero
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Cierre Financiero
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCife.legal"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'CIERRE LEGAL',
                          cierreCife.legal
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Cierre Legal
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCife.institucional"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIFE',
                          'CIERRE INSTITUCIONAL',
                          cierreCife.institucional
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Cierre Institucional
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >CIERRE (CIF):</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCif.tecnico"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIF',
                          'INFORME CIERRE TECNICO',
                          cierreCif.tecnico
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Inf. Cierre Técnico
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCif.financiero"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIF',
                          'INFORME CIERRE FINANCIERO',
                          cierreCif.financiero
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Inf. Cierre Financiero
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCif.legal"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIF',
                          'INFORME CIERRE LEGAL',
                          cierreCif.legal
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Inf. Cierre Legal
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCif.institucional"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIF',
                          'INFORME CIERRE INSTITUCIONAL',
                          cierreCif.institucional
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Cierre Institucional
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="cierreCif.ficha"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'CIERRE CIF',
                          'FICHA DE CIERRE TECNICO',
                          cierreCif.ficha
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Ficha de Cierre Técnico
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >ACTAS DE CIERRE:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="actasCierre.provisional"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'ACTAS DE CIERRE',
                          'ACTA PROVISIONAL',
                          actasCierre.provisional
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Provisional
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="actasCierre.definitiva"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'ACTAS DE CIERRE',
                          'ACTA DEFINITIVA',
                          actasCierre.definitiva
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Definitiva
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >Auditoria:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="auditoria.auditoria"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'AUDITORIA',
                          'INFORME AUDITORIA',
                          auditoria.auditoria
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Inf. Auditoría
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="auditoria.compromiso"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'AUDITORIA',
                          'NOTA COMPROMISO',
                          auditoria.compromiso
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Nota Compromiso
                  </label>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      class="text-left"
                      [(ngModel)]="auditoria.seguimiento"
                      (ngModelChange)="
                        actualizaDatosDetalle(
                          'AUDITORIA',
                          'NOTA SEGUIMIENTO',
                          auditoria.seguimiento
                        )
                      "
                      [disabled]="habilitaFormulario"
                    />
                    Nota Seguimiento
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="control-label col-sm-3 text-right" for="busqueda"
                >Observación:</label
              >
              <div class="col-sm-8 text-left well well-sm">
                <div>
                  <textarea
                    class="form form-control"
                    name="textObservacion"
                    id=""
                    maxlength="500"
                    [(ngModel)]="observacion"
                    [disabled]="habilitaFormulario"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <button
                class="btn btn-success"
                (click)="registrarTotalDetalle()"
                [disabled]="habilitaFormulario"
              >
                <span class="glyphicon glyphicon-pencil"></span>Modificar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
